:root {
    --white-bg-color: #FFFFFF;
    --bg-accent-color: #161F49;
    --accent-color: #2468FF;
    --text-color: #404040;
}
body {
    background-color: var(--white-bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

address{
    font-style: normal;
}
.list{
    list-style:none;
    padding-left: 0;
    margin: 0;
}

.link{
        text-decoration: none;
        color:inherit;
}

.container {
    width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

/*================= Header =====================*/

.header-free {
    background-color: #161F49;
    text-align: center;
    color: var(--white-bg-color);
}

.header-flex {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: auto;
}

.header-nav {
    margin-left: 195px;
    margin-right: 172px;
}

.header-list {
    display: flex;
}



.header-item:not(:last-child) {
    margin-right: 37px;
}

.header-link {
    display: block;
    padding-top: 30px;
    padding-bottom: 25px;
}

.header-shop {
    margin-left: auto;
}
